body {
	margin: 0px;
	padding: 0px;
	background: #000000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #000000 14%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(14%,#000000), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #000000 14%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #000000 14%,#ffffff 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #000000 14%,#ffffff 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #000000 14%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: 180% 100%;
	background-position: center;
}